{% extends 'base.html' %}

{% block title %}
ABOUT US
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/aboutus_newproj.css') }}" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}

{% block navbar %}
<ul>
	{% if 'registered_user' in session %}
	<li><a href="{{url_for('route.home',email = session['registered_user'])}}">HOME</a></li>
	<li><a href="{{url_for('route.about',email = session['registered_user'])}}" class="active-nav">ABOUT US</a></li>
	<li><a href="{{url_for('route.contact',email = session['registered_user'])}}">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine',email = session['registered_user'])}}">ORDER MEDICINE</a></li>
	{% else %}
	<li><a href="{{url_for('route.home')}}">HOME</a></li>
	<li><a href="{{url_for('route.about')}}" class="active-nav">ABOUT US</a></li>
	<li><a href="{{url_for('route.contact')}}">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine')}}">ORDER MEDICINE</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
<!-- <div style="height: 50vh ; width: 100%;"></div>
<div style="height: 50vh ; width: 100%;"></div>
<div></div> -->
<section class="home">
	<img class="image-slide" src="{{ url_for('static',filename='img/ai-health10.jpg') }}" alt="image" />

	<div class="content">
		<h1 class="content_head"></h1>
	</div>

</section>
<main>
	<section>
		<div class="first-content">
			<div class="info" data-aos="zoom-in">
				<h2><span>ABOUT</span> AI-HEALTH</h2>
				<p><b>A</b>I-powered chatbot furnishes cognitive behavioral therapy (CBT) to people with mental health
					issues.
					This software elucidates AI-enabled cognitive Health Therapists to provide pristine frontiers to
					people who need human touch the most. A vital benefit of the proposed technology is its ability to
					create personalized CBT exercises and interventions that address each user's specific needs and
					issues. To date, various techniques, including natural language processing and machine learning, are
					effective in designing the chatbot. The chatbot also gives data-driven insights into users'
					experiences with mental health and continuously tracks their development over time. This feedback
					loop assists users and healthcare providers in making informed decisions to enhance mental health.
				</p>
			</div>

			<div class="abt_pic" data-aos="zoom-in">
				<img src="{{ url_for('static',filename='img/1695875726090.gif') }}" alt="image" />
			</div>
		</div>


	</section>
	<section>
		<div class="parallax">

			<div class="middle">
				<div class="caption" data-aos="fade">
					<p >
						KNOW ABOUT US
					</p>
				</div>


				<div class="card" data-aos="fade-right">
					<div class="profile">
						<img src="/static/img/DSC_0618.JPG" alt="image" />
					</div>
					<div class="hd">
						<p><b>ABHRANIL KUNDU</b><br>Developer of Frontend </p>
					</div>
				</div>

				<div class="card" data-aos="fade-left">
					<div class="profile">
						<img src="/static/img/sarkar.jpg" alt="image" />
					</div>
					<div class="hd">
						<p><b>DISHANI SARKAR</b><br>AI Chatbot Developer</p>
					</div>
				</div>

				<div class="card" data-aos="fade-right">
					<div class="profile">
						<img src="/static/img/20231019_121354.jpg" alt="image" />
					</div>
					<div class="hd">
						<p><b>ARIJIT NANDY</b><br>AI Chatbot and Backend Developer</p>
					</div>
				</div>

				<div class="card" data-aos="fade-left">
					<div class="profile">
						<img src="/static/img/akhiljpeg.jpeg" alt="image" />
					</div>
					<div class="hd">
						<p><b>AKHIL KUMAR GOPE</b><br>Developer of Frontend</p>
					</div>
				</div>

				<div class="card" data-aos="fade-up">
					<div class="profile">
						<img src="/static/img/dipyankumar.jpeg" alt="image" />
					</div>
					<div class="hd">
						<p><b>DIPAYAN KUMAR SARKAR</b><br>Developer of Frontend</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section>
		<div class="first-content back-content">


			<div class="abt_pic back_abt_pic" data-aos="zoom-in">
				<img src="{{ url_for('static',filename='img/55CB350C-421C-4D81-B951-80D75EFF1C45-35459-00000448F60D46D9.gif') }}"
					alt="image">
			</div>

			<div class="info back_info" data-aos="zoom in">
				<h2><span>WHY</span> US ?</h2>
				<p><b>A</b> critical step toward democratizing mental health care is being taken with the "AI-Enabled
					Cognitive
					Health Therapist" initiative. This ground-breaking approach delivers individualized and accessible
					therapy by utilizing artificial intelligence. It not only empowers consumers but also aligns with
					changing healthcare demands thanks to its easy user interface, ongoing customisation, and strict
					data privacy measures. It has the potential to alter mental health, lighten the load on conventional
					healthcare systems, and eventually improve quality of life for countless people around the world as
					it develops and adapts.</p>
			</div>
		</div>
	</section>
</main>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	//   const list = document.getElementById("drop_list");

	//   const dropdown = () => {
	//     list.classList.toggle("visible");
	//   };
	//   document.getElementById("click_btn").addEventListener("click", dropdown);

	//Animation
	const content = document.getElementsByClassName("content_head")[0];
	const text = "About US";
	const textTypingEffect = (element, text, i = 0) => {
		if (i === 0) {
			element.textContent = "";
		}
		element.textContent += text[i];

		if (i === text.length - 1) {
			return;
		}
		setTimeout(() => textTypingEffect(element, text, i + 1), 200);
	};
	textTypingEffect(content, text);

	AOS.init({
		duration: 800,
	});
</script>
{% endblock %}