<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		{% block title %}

		{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/chatbot.css') }}" />
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/favicon.ico')}}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flashmessage.css') }}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@400;600&display=swap"
			rel="stylesheet" /> -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/scrolltotop.css') }}">

	{% block head %}

	{% endblock %}
</head>

<body>
	<div class="total">

		<!-- Nav Bar Section -->
		<div class="navbar-header" id="header">

			<div class="head-er_down" id="newheader">
				<div class="website-name">
					{% if 'registered_user' in session %}
					<a href="{{url_for('route.home',email = session['registered_user'])}}">
						<h1 style="color: rgb(255, 255, 255);">AIECHT</h1>
					</a>
					{% else %}
					<a href="{{url_for('route.home',email = session['registered_user'])}}">
						<h1 style="color: rgb(255, 255, 255);">AIECHT</h1>
					</a>
					{% endif %}
				</div>

				<div class="nav-bar">
					{% block navbar %}

					{% endblock %}
				</div>

				{% if 'registered_user' in session %}
				<!-- <div id="login_signup" class="login">
					<img src="{{ profile_image }}" alt="profile image" id="click_btn" />

					<div id="drop_list">
						<a href="{{url_for('route.user_profile', email=session['registered_user'])}}">Profile</a>
						<a href="#">Appointment Details</a>
						<a href="{{url_for('auth.logout',email=session['registered_user'])}}">LOGOUT</a>
					</div>
				</div> -->
				<div id="user_pic">
					<img src="{{ profile_image }}" alt="Profile Picture" id="click_btn" />
				</div>
			</div>

			<div id="drop_list">
				<div id="drop_list_content">
					<div id="user_info">
						<img src="{{ profile_image }}" alt="" />
						<h3>Welcome {{user.username}}</h3>
					</div>
					<hr />
					<a href="{{url_for('route.user_profile', email=session['registered_user'])}}" class="drop_link">
						<i class="fa-solid fa-user"></i>
						<p class="drop_p">Edit Profile</p>
						<i class="fa-solid fa-angle-right"></i>
					</a>

					<a href="{{url_for('route.booked',email=session['registered_user'])}}" class="drop_link">
						<i class="fa-solid fa-circle-info"></i>
						<p class="drop_p">Appointment Details</p>
						<i class="fa-solid fa-angle-right"></i>
					</a>

					<a href="{{url_for('auth.logout',email=session['registered_user'])}}" class="drop_link">
						<i class="fa-solid fa-right-from-bracket"></i>
						<p class="drop_p">Logout</p>
						<i class="fa-solid fa-angle-right"></i>
					</a>
				</div>
			</div>
			{% else %}
			<div class="login">

				<ul>
					<li><a href="/user-panel/signin">LOGIN<i class="fa-solid fa-right-to-bracket"></i></a></li>
				</ul>
			</div>
			{% endif %}

		</div>
	</div>
	<div id="progress"></div>
	<!-- <div style="height: 50vh ; width: 100%;"></div>
    <div style="height: 50vh ; width: 100%;"></div>
    <div></div> -->
	{% block content %}

	{% endblock %}
	<!-- Footer Section -->
	<div class="msg">
		<button type="submit" onclick="msgbtn()"> <i class="fa-solid fa-message"></i></button>
	</div>
	<section class="c_bot">
		<div id="chatbot">
			<div id="chat-header">
				<h2 class="botname">HEALTH BOT</h2>
				<button type="submit" class="chatbtn" onclick="cbtn()"><i class="fa-solid fa-xmark"></i></button>
			</div>

			<div id="message-container">
				<!-- <div class="user">You: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sapiente!
				  </div>
				  <div class="bot">Bot:Hello</div> -->
			</div>



			<div id="send">

				<textarea type="text" class="bottext" id="message-input" placeholder="Enter your message"
					required></textarea>

				<span id="send-button" class="material-icons">send</span>

			</div>
		</div>
	</section>
	<script src="{{ url_for('static', filename = 'js/chatbot.js') }}"></script>
	<script src="{{ url_for('static',filename='js/flashmessage.js') }}"></script>
	<footer>
		<section class="footer-section">
			<div class="footer-left">
				{% if 'registered_user' in session %}
				<a href="{{url_for('route.home',email = session['registered_user'])}}">
					<h3><span>A</span>IECHT</h3>
				</a>
				{% else %}
				<a href="{{url_for('route.home',email = session['registered_user'])}}">
					<h3><span>A</span>IECHT</h3>
				</a>
				{% endif %}
				<p>
					{% if 'registered_user' in session %}
					<a href="{{url_for('route.home',email = session['registered_user'])}}" id="link1">Home</a>
					<a href="{{url_for('route.about',email = session['registered_user'])}}">About</a>
					<a href="{{url_for('route.contact',email = session['registered_user'])}}">Contact</a>
					<a href="{{url_for('route.order_medicine',email = session['registered_user'])}}">Order
						Medicine</a>
					{% else %}
					<a href="{{url_for('route.home')}}" id="link1">Home</a>
					<a href="{{url_for('route.about')}}">About</a>
					<a href="{{url_for('route.contact')}}">Contact</a>
					<a href="{{url_for('route.order_medicine')}}">Order Medicine</a>
					{% endif %}
				</p>
			</div>
			<div class="footer-mid">
				<ul>
					<li><i class="fa-solid fa-location-dot"></i>Kolkata,West Bengal</li>
					<li><i class="fa fa-phone"></i><a href="tel:+91 8777297367">8777297367</a></li>
					<li>
						<i class="fa fa-envelope"></i><a
							href="mailto:a.i.e.c.h.t.g13@gmail.com">a.i.e.c.h.t.g13@gmail.com</a>
					</li>
				</ul>
			</div>
			<div class="footer-right">
				<h4>About The Company</h4>
				<p>
					The AI-Enabled Cognitive Health Therapist project is a research initiative that aims to develop
					an
					AI-powered chatbot that can provide cognitive behavioural therapy (CBT) to people with mental
					health
					conditions
				</p>
				<div class="ficons">
					<a href="#" id="facebookan" class="media-icons"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#" id="instagraman" class="media-icons" ><i class="fa-brands fa-instagram"></i></a>
					<a href="#" id="linkedinan" class="media-icons" ><i class="fa fa-linkedin"></i></a>
					<a href="#" id="twitteran" class="media-icons" ><i class="fa-brands fa-twitter"></i></a>
				</div>
		</section>
		<div id="admin-part">
			<a href="/doctorlogin">Doctor login</a>
		</div>
		<div id="admin-part">
			<a href="/adminlogin">Admin</a>
		</div>
	</footer>
	</div>
	<script src="{{ url_for('static',filename='js/scrolltotop.js') }}"></script>
	<script>
		window.addEventListener("scroll", () => {
			const header = document.querySelector(".head-er_down")
			header.classList.toggle("sticky", window.scrollY > 500);
		})
		const list = document.getElementById("drop_list");

		const dropdown = () => {
			list.classList.toggle("visible");
		};
		document.getElementById("click_btn").addEventListener("click", dropdown);
		// nav bar effect

	</script>


</body>
<script>
	// scroll in progress

	window.addEventListener("DOMContentLoaded", () => {
		const progress = document.getElementById("progress")

		const scrollprogress = () => {
			const TotalHeightOfWebPage = document.body.scrollHeight
			const currentDistanceFromTop = document.documentElement.scrollTop

			const windowHeight = document.documentElement.clientHeight;

			const scrolledPercentage = (currentDistanceFromTop / (TotalHeightOfWebPage - windowHeight) * 100);
			progress.style.width = scrolledPercentage + "%";
		}
		document.addEventListener("scroll", scrollprogress)
	})
</script>
</html>