<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		{% block title %}

		{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/chatbot.css') }}" />
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/favicon.ico')}}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flashmessage.css') }}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@400;600&display=swap"
			rel="stylesheet" /> -->
	{% block head %}

	{% endblock %}
</head>

<body>
	<div class="total">
		<!-- Nav Bar Section -->
		<header>

			<div class="header_down">
				<div class="website-name">
					<h1>Health</h1>
				</div>

				<div class="navbar">
					{% block navbar %}

					{% endblock %}
				</div>

				<div class="login_signup">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="/logout">LOGOUT<i class="fa-solid fa-right-to-bracket"></i></a></li>
						{% else %}
						<li><a href="/user-panel/signin">LOGIN<i class="fa-solid fa-right-to-bracket"></i></a></li>
						{% endif %}
					</ul>
				</div>

			</div>
		</header>
		<!-- <div style="height: 50vh ; width: 100%;"></div>
    <div style="height: 50vh ; width: 100%;"></div>
    <div></div> -->
		{% block content %}

		{% endblock %}
		<!-- Footer Section -->
		<div class="msg">
			<button type="submit" onclick="msgbtn()"> <i class="fa-solid fa-message"></i></button>
		</div>
		<section class="c_bot">
			<div id="chatbot">
				<div id="chat-header">
					<h2>HEALTH BOT</h2>
					<button type="submit" class="chatbtn" onclick="cbtn()"><i class="fa-solid fa-xmark"></i></button>
				</div>

				<div id="message-container">
					<!-- <div class="user">You: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sapiente!
				  </div>
				  <div class="bot">Bot:Hello</div> -->
				</div>



				<div id="send">

					<textarea type="text" id="message-input" placeholder="Enter your message" required></textarea>

					<span id="send-button" class="material-icons">send</span>

				</div>
			</div>
		</section>
		<script src="{{ url_for('static', filename = 'js/chatbot.js') }}"></script>
		<!-- <script src="{{ url_for('static',filename='js/flashmessage.js') }}"></script> -->
		<footer>
			<section class="footer-section">
				<div class="footer-left">
					<h3><span>H</span>ealth</h3>
					<p>
						<a href="/home" id="link1">Home</a>
						<a href="/about">About</a>
						<a href="/contact">Contact</a>
						<a href="/order-medicine">Services</a>
					</p>
				</div>
				<div class="footer-mid">
					<ul>
						<li><i class="fa-solid fa-location-dot"></i>Kolkata,West Bengal</li>
						<li><i class="fa fa-phone"></i>6291640218</li>
						<li>
							<i class="fa fa-envelope"></i><a href="mailto:health@company.com">health@company.com</a>
						</li>
					</ul>
				</div>
				<div class="footer-right">
					<h4>About The Company</h4>
					<p>
						The AI-Enabled Cognitive Health Therapist project is a research initiative that aims to develop
						an
						AI-powered chatbot that can provide cognitive behavioural therapy (CBT) to people with mental
						health
						conditions
					</p>
					<div class="sicons">
						<a href="#" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
						<a href="#" id="instagram"><i class="fa-brands fa-instagram"></i></a>
						<a href="#" id="linkedin"><i class="fa fa-linkedin"></i></a>
						<a href="#" id="twitter"><i class="fa-brands fa-twitter"></i></a>
					</div>
			</section>
			<div id="admin-part">
				<a href="/doctorlogin">Doctor login</a>
			</div>
			<div id="admin-part">
				<a href="/adminlogin">Admin</a>
			</div>
		</footer>
	</div>
</body>

</html>