{% extends 'base.html' %}
{% block title %}
CONTACT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/contact_aihealth.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@400;600&display=swap"
	rel="stylesheet" />
{% endblock %}

{% block navbar %}
<ul>
	{% if 'registered_user' in session %}
	<li><a href="{{url_for('route.home',email = session['registered_user'])}}">HOME</a></li>
	<li><a href="{{url_for('route.about',email = session['registered_user'])}}" >ABOUT US</a></li>
	<li><a href="{{url_for('route.contact',email = session['registered_user'])}}" class="active-nav">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine',email = session['registered_user'])}}">ORDER MEDICHINE</a></li>
	{% else %}
	<li><a href="{{url_for('route.home')}}">HOME</a></li>
	<li><a href="{{url_for('route.about')}}" >ABOUT US</a></li>
	<li><a href="{{url_for('route.contact')}}" class="active-nav">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine')}}">ORDER MEDICHINE</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
<!-- <div style="height: 50vh ; width: 100%;"></div>
<div style="height: 50vh ; width: 100%;"></div>
<div></div> -->
<section class="home">
	<img src="{{ url_for('static',filename='img/ai-1110x740.jpg') }}" alt="image" />

	<div class="content">
		<h1>CONTACT US</h1>
	</div>
</section>
<div class="main">
	<section class="query-cover">
		<div class="container">
			<h1>Connect With Us</h1>
			<div class="contact-box">
				<div class="contact-left">
					<h3>Reach Us</h3>
					<div class="list">
						<ul>
							<li>
								<i class="fa fa-envelope"></i>
								<a href="mailto:a.i.e.c.h.t.g13@gmail.com">a.i.e.c.h.t.g13@gmail.com</a>
							</li>
							<li><i class="fa fa-phone"></i>6291640218</li>
							<li>
								<i class="fa-solid fa-location-dot"></i>Kolkata,West
								Bengal
							</li>
							<li>
								<iframe
								  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58965.69323017644!2d88.34159165204558!3d22.528339733930913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02740a6095d3f7%3A0xac556ea09ce96171!2sThe%20Heritage%20Academy!5e0!3m2!1sen!2sin!4v1697448352554!5m2!1sen!2sin"
								  width="300"
								  height="100"
								  style="border: 0"
								  allowfullscreen=""
								  loading="lazy"
								  referrerpolicy="no-referrer-when-downgrade"
								></iframe>
							  </li>
						</ul>
					</div>

					<h3 class="follow">Follow Us</h3>
					<div class="icons">
						<a href="#" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
						<a href="#" id="instagram"><i class="fa-brands fa-instagram"></i></a>
						<a href="#" id="linkedin"><i class="fa fa-linkedin"></i></a>
						<a href="#" id="twitter"><i class="fa-brands fa-twitter"></i></a>
					</div>
				</div>
				<div class="contact-right">
					<h3>Sent You Message</h3>
					<form action="/contact" method="POST">
						<div class="input-row">
							<div class="input-group">
								<label>Name</label>
								<input type="text" name="name" placeholder="Type Your Name ">
							</div>
							<div class="input-group">
								<label>Phone</label>
								<input type="tel" name="phonenumber" placeholder="Type Your Phone Number">
							</div>
						</div>

						<div class="input-row">
							<div class="input-group">
								<label>Email</label>
								<input type="email" name="email" placeholder="Type Your Email ">
							</div>
							<div class="input-group">
								<label>Date Of Birth</label>
								<input type="date" name="dob" placeholder="Enter Your DOB">
							</div>
						</div>

						<label>Message</label>
						<textarea rows="5" cols="50"name="msg" placeholder="Type Your Query"></textarea>
						<button type="submit" class="btan">Send</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}