{% extends 'base.html' %}
{% block title %}
CONTACT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/contact_aihealth.css') }}" />
{% endblock %}

{% block content %}
<!-- <div style="height: 50vh ; width: 100%;"></div>
<div style="height: 50vh ; width: 100%;"></div>
<div></div> -->

<div class="main">

	<section class="cover-content">
		<div class="content">
			<h4>Contact Us</h4>
		</div>
		<div class="image"><img src="{{ url_for('static',filename='img/20945352.jpg') }}" alt="">
		</div>
	</section>

	<section class="query-cover">
		<div class="container">
			<h1>Connect With Us</h1>
			<div class="contact-box">
				<div class="contact-left">
					<h3>Reach Us</h3>
					<div class="list">
						<ul>
							<li>
								<i class="fa fa-envelope"></i><a href="mailto:health@company.com">health@company.com</a>
							</li>
							<li><i class="fa fa-phone"></i>6291640218</li>
							<li><i class="fa-solid fa-location-dot"></i>Kolkata,West Bengal</li>
						</ul>
					</div>

					<h3 class="follow">Follow Us</h3>
					<div class="icons">

						<a href="#" style="background-color: white;"><i class="fa-brands fa-facebook-f"
								style="color:#4267B2"></i></a>
						<a href="#"
							style="background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;"><i
								class="fa-brands fa-instagram"></i></a>
						<a href="#" style="background-color: #0072b1 ;"><i class="fa fa-linkedin"></i></a>
						<a href="#" style="background-color: white;"><i class="fa-brands fa-twitter"
								style="color:#1DA1F2"></i></a>
					</div>
				</div>
				<div class="contact-right">
					<h3>Sent You Message</h3>
					<form action="">
						<div class="input-row">
							<div class="input-group">
								<label>Name</label>
								<input type="text" placeholder="">
							</div>
							<div class="input-group">
								<label>Phone</label>
								<input type="tel" placeholder="">
							</div>
						</div>

						<div class="input-row">
							<div class="input-group">
								<label>Email</label>
								<input type="email" placeholder="">
							</div>
							<div class="input-group">
								<label>Date Of Birth</label>
								<input type="date" placeholder="">
							</div>
						</div>

						<label>Message</label>
						<textarea rows="5" placeholder=""></textarea>
						<button type="submit">Send</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}