{% extends 'base.html' %}

{% block title %}
HOME
{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@400;600&display=swap"
	rel="stylesheet" />
{% endblock %}

{% block navbar %}
<ul>
	{% if 'registered_user' in session %}
	<li><a href="{{url_for('route.home',email = session['registered_user'])}}" class="active-nav">HOME</a></li>
	<li><a href="{{url_for('route.about',email = session['registered_user'])}}">ABOUT US</a></li>
	<li><a href="{{url_for('route.contact',email = session['registered_user'])}}">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine',email = session['registered_user'])}}">ORDER MEDICHINE</a></li>
	{% else %}
	<li><a href="{{url_for('route.home')}}" class="active-nav">HOME</a></li>
	<li><a href="{{url_for('route.about')}}">ABOUT US</a></li>
	<li><a href="{{url_for('route.contact')}}">CONTACT US</a></li>
	<li><a href="{{url_for('route.order_medicine')}}">ORDER MEDICHINE</a></li>
	{% endif %}
</ul>
{% endblock %}
{% block content %}
<section class="home">
	<img class="image-slide active-sli" src="{{ url_for('static',filename='img/ai-health13.jpg') }}" alt="image" />
	<img class="image-slide" src="{{ url_for('static',filename='img/ai-health14.jpg') }}" alt="image" />
	<img class="image-slide" src="{{ url_for('static',filename='img/ai-health6_1696604608104.jpg') }}" alt="image" />
	<img class="image-slide" src="{{ url_for('static',filename='img/ai.jpg') }}" alt=" image" />

	<div class="content">
		<h1>Welcome To<br /><span>AIECHT</span></h1>
	</div>
	<div class="slider-navigation">
		<div class="nav-btn active-sli"></div>
		<div class="nav-btn"></div>
		<div class="nav-btn"></div>
		<div class="nav-btn"></div>
	</div>
</section>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'info' %}
<div class="popup" style="background-color: rgb(243, 215, 0);">
	<p>{{ message }}</p>
	<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
</div>
{% endif %}
{% if category == 'error' %}
<div class="popup" style="background-color: rgb(90, 2, 2);">
	<p>{{ message }}</p>
	<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
</div>
{% endif %}
{% if category == 'message' %}
<div class="popup" style="background-color: rgb(100, 141, 229);">
	<p>{{ message }}</p>
	<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<!-- doclist> -->
<!-- <section class="doc_list">
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper content">
            {% for therapist in therapists %}
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{ url_for('static',filename='img/img_avatar.png') }}" alt="image" />
                    </div>
                    <div class="description">
                        <h4>{{ therapist.th_name }}</h4>
                        <p class="para">
                            Degree: {{ therapist.degree }}
                        </p>
                        <p class="para">
                            Specialty: {{ therapist.specialty }}
                        </p>
                        <p class="para">
                            Address: {{ therapist.address }}
                        </p>
                        <p class="para">
                            Available days: {{ therapist_appointment_days[therapist.th_id] | join(', ') }}
                        </p>
                        <p class="para">
                            Available time:
                        </p>
                        <div class="appointment">
                            <a href="#">Book Appointment</a>
                        </div>
                        <p class="sicons">
                            <a href="#"><i class="fa-brands fa-facebook-f" style="color: #4267b2"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter" style="color: #1da1f2"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</section> -->
<div>
	<h2>Book Our Therapist now...</h2>
</div>
<section class="doc_list">
	<div class="swiper mySwiper container">
		<div class="swiper-wrapper content">
			{% for therapist in therapists %}
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ url_for('static',filename='img/img_avatar.png') }}" alt="image" />
					</div>
					<div class="description">
						<h4>{{ therapist.th_name }}</h4>
						<p class="para">
							Degree: {{ therapist.degree }}
						</p>
						<p class="para">
							Specialty: {{ therapist.specialty }}
						</p>
						<p class="para">
							Address: {{ therapist.address }}
						</p>
						<p class="para">
							Available days: {{ therapist_appointment_days[therapist.th_id] | join(', ') }}
						</p>
						<!-- <p class="para">
                            Available time: 
                        </p> -->
						<div class="appointment">
							<a href="{{ url_for('route.submit_appointment', th_id=therapist.th_id, email=session['registered_user']) }}
							">Book Appointment</a>
						</div>
						<p class="sicons">
							<a href="#"><i class="fa-brands fa-facebook-f" style="color: #4267b2"></i></a>
							<a href="#"><i class="fa-brands fa-instagram"></i></a>
							<a href="#"><i class="fa-brands fa-linkedin"></i></a>
							<a href="#"><i class="fa-brands fa-twitter" style="color: #1da1f2"></i></a>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</section>
<script type="text/javascript" src="{{ url_for('static',filename='js/slider.js') }}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
<script src="{{ url_for('static',filename='js/flashmessage.js') }}"></script>
{% endblock %}