<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/favicon.ico')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css')}}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flashmessage.css') }}">
	<title>document</title>
</head>

<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category == 'info' %}
	<div class="popup" style="background-color: rgb(243, 215, 0);">
		<p>{{ message }}</p>
		<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
	</div>
	{% endif %}
	{% if category == 'error' %}
	<div class="popup" style="background-color: rgb(90, 2, 2);">
		<p>{{ message }}</p>
		<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
	</div>
	{% endif %}
	{% if category == 'message' %}
	<div class="popup" style="background-color: rgb(100, 141, 229);">
		<p>{{ message }}</p>
		<a href="#"><i class="fa-regular fa-circle-xmark icon" id="icon"></i></a>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}

	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<form action="/user-panel/signin" method="POST" class="sign-in-form">
					<h2 class="title">Sign in</h2>
					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input type="email" placeholder="Type your email" name="email" id="email" />
					</div>
					<div class="input-field" >
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Password" name="password" required />
						<!-- <img src="{{ url_for('static',filename='img/hidden.png') }}" alt="image" id="pass-icon" /> -->
					</div>
					<input type="submit" value="Login" class="btn solid" />

				</form>
				<form action="/user-panel/signup" method="POST" class="sign-up-form">
					<h2 class="title">Sign up</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input type="text" placeholder="Username" name="username" required />
					</div>
					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input type="email" placeholder="Email" name="email_address" required />
					</div>
					<div class="input-field">
						<i class="fas fa-phone"></i>
						<input type="tel" placeholder="Phone Number" name="phone_number" required />
					</div>
					<div class="input-field" id="pwd">
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Password" id="password" required />
						<img src="{{ url_for('static',filename='img/hidden.png') }}" alt="image" id="pass-icon" />
					</div>
					<div class="para">
						<p>Password must be 8 to 16 characters</p>
						<span id="st_para"></span>
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Confirm Password" name="confirm_password" required />
						<!-- <img src="{{ url_for('static',filename='img/hidden.png') }}" alt="image" id="pass-icon" /> -->
					</div>
					<input type="submit" class="btn" value="Sign up" onclick="signup()" />

				</form>
			</div>


		</div>


		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>New here ?</h3>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
						ex ratione. Aliquid!
					</p>
					<button class="btn transparent" id="sign-up-btn">
						Sign up
					</button>
				</div>
				<img src="{{ url_for('static', filename = 'img/2382727-removebg-preview.png')}}" class="image" alt="" />
			</div>
			<div class="panel right-panel">
				<div class="content">
					<h3>One of us ?</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
						laboriosam ad deleniti.
					</p>
					<button class="btn transparent" id="sign-in-btn">
						Sign in
					</button>
				</div>
				<img src="{{ url_for('static', filename = 'img/5209447-removebg-preview.png')}}" class="image" alt="" />
			</div>
		</div>
		<section id="otp-conainer">
			<div id="otp-cover">
				<div class="otp">
					<div class="txt">OTP Verification</div>
					<img src="{{ url_for('static', filename = 'img/5209447-removebg-preview.png')}}" class="image"
						alt="" />

					<p id="p">We have sent a verification to your email</p>
					<form id="inputs">
						<input class="inp" id='input1' type='text' maxLength="1" />
						<input class="inp" id='input2' type='text' maxLength="1" />
						<input class="inp" id='input3' type='text' maxLength="1" />
						<input class="inp" id='input4' type='text' maxLength="1" />
						<input class="inp" id='input5' type='text' maxLength="1" />
						<input class="inp" id='input6' type='text' maxLength="1" />
					</form>
					<button id="oneb">Submit</button>
				</div>
			</div>
		</section>


	</div>

	<script src="{{ url_for('static', filename = 'js/script.js')}}"></script>
	<script src="{{ url_for('static',filename='js/flashmessage.js') }}"></script>
	<script>
		const passicon = document.getElementById("pass-icon");
		const password = document.getElementById("password");
		passicon.addEventListener("click", () => {
			if (password.type == "password") {
				password.type = "text";
				passicon.src = "{{ url_for('static',filename='img/eye.png') }}";
			} else {
				password.type = "password";
				passicon.src = "{{ url_for('static',filename='img/hidden.png') }}";
			}
		});

		const alphabet = /[a-zA-Z]/;
		const number = /[0-9]/;
		const symbols = /[!,@,#,$,%,^,&,*,?,_,(,),-,+,=,~,/,\,|]/;

		const pwd = document.getElementById("pwd");
		const stpara = document.getElementById("st_para");

		const strengthchecker = (passwordInput) => {

			if (passwordInput.length === 0) {
				pwd.style.border = 'none';
				stpara.style.color = 'none';
				stpara.innerHTML = '';
			}
			if (
				alphabet.test(passwordInput) &&
				number.test(passwordInput) &&
				symbols.test(passwordInput)
			) {
				console.log("strong");
				pwd.style.border = '2px solid  rgb(8, 146, 8)';
				stpara.style.color = 'rgb(8, 146, 8)'
				stpara.innerHTML = 'Strong'
			} else if (
				(alphabet.test(passwordInput) && number.test(passwordInput)) ||
				(alphabet.test(passwordInput) && symbols.test(passwordInput)) ||
				(number.test(passwordInput) && symbols.test(passwordInput))
			) {
				console.log("medium");
				pwd.style.border = '2px solid  rgb(206, 206, 5)'
				stpara.style.color = 'rgb(206, 206, 5)'
				stpara.innerHTML = 'Medium'

			} else if (
				alphabet.test(passwordInput) ||
				number.test(passwordInput) ||
				symbols.test(passwordInput)
			) {
				console.log("weak");
				pwd.style.border = '2px solid  rgb(235, 10, 10)'
				stpara.style.color = ' rgb(235, 10, 10)'
				stpara.innerHTML = 'Weak'

			}
			// if(passwordInput.length>=8 && passwordInput.length<=16){
			//   console.log('ok');
			// }
			// else{
			//   console.log('invalid');
			// }

		}

		password.addEventListener("input", () => {
			const passwordInput = password.value;

			strengthchecker(passwordInput);

		});
	</script>
</body>

</html>