/* @font-face {
    font-family: Manjari;
    src: url('Manjari-Regular.ttf');

    font-family: Signika;
    src:url('Signika-VariableFont_GRAD.ttf')
} */

@font-face {
    font-family: Manjari;
    src: url(/Font/Manjari/Manjari-Regular.ttf);

    font-family: Signika;
    src:url(/Font/Signika/Signika-VariableFont_GRAD\,wght.ttf);
}


*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: #ffffff;
}





header  
{
    position: fixed;    
    width: 100%;
	z-index: 9999;
	opacity: 1;
}

/* .header_up
{
	display:flex;
    justify-content: space-between;
    font-family: Signika;
	background-color: #234e31a7; 
    color:rgba(255, 253, 253, 0.592);
    margin-bottom: 3px;
} */


.header_down
{
	display: flex;
	font-size: 18px;
	font-family: Signika ;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;

	/* overflow: auto; */
	background-color: #c91717;
}
.website-name
{
    /* font-family: Manjari ,Signika; */
	font-size: 22px ;
    width: 35%;
    color: rgba(255, 255, 255, 0.665) ;
    flex-basis:250px ;
    text-align: center;
}
/* .website-name h1
{
	width: 164%;
} */


.login_signup ul li
{
    display: inline-block;
    margin: 2px 2px; 
}
.login_signup ul li a
{
    text-decoration: none;
    padding: 11px 21px;
    border-radius: 5px;
    background-color: rgba(255, 253, 253, 0.592);
    color: black;
}
.login_signup ul li a:hover
{
    background-color:#023f16 ;
    color: white;
    padding: 11px 21px;
    border-radius: 5px;
}





.navbar
{
	font-size: 18px;
}
.navbar ul , .login_signup ul
{
    list-style-type: none;
    margin:5px 5px;
    padding:5px 5px;
    /* overflow:auto; */
}
.navbar ul li  
{
    display: inline-block;
    margin: 11px 5px; 
}
.navbar ul li a  
{
    text-decoration: none;
    padding: 11px 21px;
    border-bottom: 2px  #3c6e4dc2;
    /* border-radius: 7px; */
    /* background-color: ; */
    color: white;
}
.navbar ul li a:hover  
{
    /* background-color: rgba(255, 253, 253, 0.592); */
    /* text-decoration: underline; */

    color: rgb(255, 255, 255);
    padding: 11px 21px;
    border-bottom: 2px solid #ffffffc2 ;
    border-radius: 5px;
}
.dropdown
{
    position: relative;
    display: inline-block;
    /* padding: 5px 5px; */
}
.dropdown li a i 
{
    font-size: 10px;
}
div.dropdown-content
{
    display: none;
    position: absolute;
    color: unset;
}
.dropdown:hover  .dropdown-content
{
    position : absolute;
    top: 150%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    color: black ;
    border-radius: 7px;
}
.dropdown:hover .dropdown-content a
{
    padding: 11px 21px;
    border-radius: 7px !important;
    color: black;
}
.dropdown:hover .dropdown-content a:hover
{
    background-color: #3c6e4dc2 ;
    color:white;
    border-bottom: none !important;
    /* text-decoration: underline; */
    padding: 11px 21px;
    border-radius: 7px !important;
}