@font-face {
    font-family: Manjari;
    src: url('Manjari-Regular.ttf');

    font-family: Signika;
    src:url('Signika-VariableFont_GRAD.ttf')
}


*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: #fbfbfb;
}





header  
{
    position: fixed;    
    width: 100%;
}

/* .header_up
{
	display:flex;
    justify-content: space-between;
    font-family: Signika;
	background-color: #234e31a7; 
    color:rgba(255, 253, 253, 0.592);
    margin-bottom: 3px;
} */


.header_down
{
	display: flex;
	font-size: 18px;
	font-family: Signika ;
	justify-content: space-between;
	align-items:center;

	/* overflow: auto; */
	background-color: #3c6e4dc2;
}
.website_name
{
	font-size: 25px;
    width: 25%;
    flex-basis:100px;
}
.header_down h1
{
	color: white;
	width: 164%;
    text-align: center;
}


.login_signup ul li
{
    display: inline-block;
    margin: 2px 2px; 
}
.login_signup ul li a
{
    text-decoration: none;
    padding: 9px 21px;
    border-radius: 30px;
    background-color:#023f16 ;
    color: white;
}
.login_signup ul li a:hover
{
    background-color: rgba(255, 253, 253, 0.592);
    color: black;
    padding: 9px 21px;
    border-radius: 30px;
}





.navbar
{
	font-size: 18px;
}
.navbar ul , .login_signup ul
{
    list-style-type: none;
    margin:5px 5px;
    padding:5px 5px;
    /* overflow:auto; */
}
.navbar ul li  
{
    display: inline-block;
    margin: 11px 5px; 
}
.navbar ul li a  
{
    text-decoration: none;
    padding: 11px 21px;
    border-radius: 30px;
    /* background-color: ; */
    color: white;
}
.navbar ul li a:hover  
{
    background-color: rgba(255, 253, 253, 0.592);
    color: black;
    padding: 11px 21px;
    border-radius: 30px;
}
.dropdown
{
    position: relative;
    display: inline-block;
    /* padding: 5px 5px; */
}
div.dropdown-content
{
    display: none;
    position: absolute;
    color: unset;
}
.dropdown:hover  .dropdown-content
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    color: black ;
    border-radius: 7px;
}
.dropdown:hover .dropdown-content a
{
    padding: 11px 21px;
    border-radius: 7px;
    color: black;
}
.dropdown:hover .dropdown-content a:hover
{
    background-color: #3c6e4dc2;
    color:white;
    padding: 11px 21px;
    border-radius: 7px;
}




