*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('29081643_japanese_abstract_wave_pattern_design_1606.jpg');
    background-repeat: no-repeat;
}
.heading{
    margin-top: 20px;
    text-align: center;
    color: white;
}

.container{
    width: 80%;
    margin:40px auto;
}

.contact-box{
    background:url('white-painted-wall-texture-background.jpg');
    display: flex;
}
marquee{
    color:red;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-box .contact-right{
    flex-basis: 100%;
    padding: 40px 60px;
    /* background: url(./5001147_19742.jpg); */
}
.user_pic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#image{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
   background:  rgb(60, 122, 222);
   padding: 3px;

}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
#update{
    width: 15vw;
    height: 3vw;
    background:rgb(4, 65, 108) ;
    background-image: linear-gradient(to top, rgba(255,0,0,0),  rgb(60, 122, 222));;
    text-align: center;
    padding: 11px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color:white;
    border-radius: 5px;
    margin-top: 20px;
}
#input-file{
    display: none;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
}
.input-row1 .input-group1{
    flex-basis: 30%;
}
 input,select{
    width: 100%;
    border: none;
    border-bottom:2px solid rgb(5, 50, 82) ;
    outline: none;
    padding-bottom: 10px;
    background: transparent;
    font-size: 15px
}
span{
    color: red;
}

label{
    margin-bottom: 6px;
    display: block;
    color:rgb(2, 6, 29) ;
    font-size: 18px;
}
textarea{
    width: 100%;
    /* border: 2px solid rgb(5, 50, 82); */
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(5, 50, 82);
    background: transparent;
    resize: none;
    font-size: 16px;
   
}
.areatext{
    margin-bottom: 40px;
}
#bookbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#send{
    background:rgb(20, 126, 201) ;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(30, 165, 202));
    width: 15vw;
    border:none;
    outline: none;
    color: white;
    cursor: pointer;
    height: 3.5vw;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    font-size: 20px;
}
#send:hover{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(7, 147, 222));
}

 
