{% extends 'base.html' %}

{% block title %}
ABOUT US
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/aboutus_newproj.css') }}" />
{% endblock %}

{% block content %}
<!-- <div style="height: 50vh ; width: 100%;"></div>
<div style="height: 50vh ; width: 100%;"></div>
<div></div> -->
<section class="home">
    <img class="image" src="{{ url_for('static',filename='img/ai-health.jpg') }}" alt="image" />
    <div class="content">
      <h1>About<span>&ensp;Us</span></h1>
    </div>

    <div class="form_container">
      <i class="fa-solid fa-xmark form_close"></i>

      <!--login-->
      <div class="form login_form">
        <form action="#">
          <h2>Login</h2>

          <div class="input-box">
            <input type="email" placeholder="Enter your email" pattern="email" required>
            <i class="fa-solid fa-envelope"></i>
          </div>

          <div class="input-box">
            <input type="password" placeholder="Enter your password" pattern="password" required>
            <i class="fa-solid fa-lock"></i>
            <i class="fa-sharp fa-solid fa-eye-slash"></i>
          </div>

          <div class="option_field">
            <span class="checkbox">
              <input type="checkbox" id="check">
              <label for="check">Remember me</label>
            </span>
            <a href="#" class="forgot_pw">Forgot password?</a>
          </div>

          <button class="button">Login</button>

          <div class="login_signup">
            Don’t have an account? <a href="#" id="signin">Signin</a>
          </div>
        </form>
      </div>


      <!--signin-->
      <div class="form signin_form">
        <form action="#">
          <h2>Signin</h2>

          <div class="input-box">
            <input type="email" placeholder="Enter your email" pattern="email" required>
            <i class="fa-solid fa-envelope"></i>
          </div>

          <div class="input-box">
            <input type="password" placeholder="Create your password" pattern="password" required>
            <i class="fa-solid fa-lock"></i>
            <i class="fa-sharp fa-solid fa-eye-slash"></i>
          </div>

          <div class="input-box">
            <input type="password" placeholder="Confirm your password" pattern="password" required>
            <i class="fa-solid fa-lock"></i>
            <i class="fa-sharp fa-solid fa-eye-slash"></i>
          </div>



          <button class="button">Signin</button>

          <div class="login_signup">
            Already have an account? <a href="#" id="login">Login</a>
          </div>
        </form>
      </div>
    </div>
    </div>
    </div>
  </section>


  <main>
    <section>
      <div class="first-content">
      <div class="sep2">
         <h2><span>ABOUT</span> AI-HEALTH</h2>
        
        
          <p style="text-align: center;" >The AI-Enabled Cognitive Health Therapist project is a research initiative that aims to develop an AI-powered chatbot that can provide cognitive behavioural therapy (CBT) to people with mental health conditions. One of its main advantages is its capacity to create customized CBT exercises and interventions, tailoring its recommendations to each user's unique needs and problems. The chatbot is being developed utilizing a range of methods, such as machine learning and natural language processing. Additionally, the chatbot continuously tracks users' progress over time and offers data-driven insights into their experience with mental health. Users and their healthcare professionals gain from this feedback loop, which helps them make wise choices on their way to better mental health</p>
        </div>
  
        <div class="abt_pic">
          <img class="image" src="{{ url_for('static',filename='img/ai-health2.jpg') }}" alt="image" />
        </div>
      </div>
    </section>
   
  <section>
    <div class="middle">
      
      <div class="caption"> 
        <p>
            KNOW THE PILLARS BEHIND THE AI-HEALTH
        </p>
      </div>
     
    
      <div class="card">
          <div class="profile">
            <img  src="" alt="image" />
          </div>
        <div class="hd">
          <p>Abranil Kundu <br><i>Developer of Frontend and Backend</i></p>
        </div>
      </div>

      <div class="card">
          <div class="profile">
            <img  src="" alt="image" />
          </div>
        <div class="hd">
          <p>Dishani Sarkar <br><i>Developer of Frontend and Backend</i></p>
        </div>
      </div>

      <div class="card">
          <div class="profile">
            <img  src="" alt="image" />
          </div>
        <div class="hd">
          <p>Arijit Nandy <br><i>Developer of Frontend and Backend</i></p>
        </div>
      </div>

      <div class="card">
          <div class="profile">
            <img  src="" alt="image" />
          </div>
        <div class="hd">
          <p>Akhil Kumar Gope <br><i>Developer of Frontend and Backend</i></p>
        </div>
      </div>

        <div class="card2">
          <div class="profile">
            <img  src="" alt="image" />
          </div>
        <div class="hd">
          <p>
          Dipayan Sarkar<br><i>Developer of Frontend and Backend</i>
        </p>
        </div>
      </div>
        
    </div>
  </section>

  <section>
    <div class="back-content">
    <div class="sep2">
        <h2><span>WHY</span> AI-HEALTH</h2>
      
      
        <p style="text-align: center;" >A critical step toward democratizing mental health care is being taken with the "AI-Enabled Cognitive Health Therapist" initiative. This ground-breaking approach delivers individualized and accessible therapy by utilizing artificial intelligence. It not only empowers consumers but also aligns with changing healthcare demands thanks to its easy user interface, ongoing customisation, and strict data privacy measures. It has the potential to alter mental health, lighten the load on conventional healthcare systems, and eventually improve quality of life for countless people around the world as it develops and adapts.</p>
      </div>

      <div class="abt_pic" >
        <img src="{{ url_for('static',filename='img/ai-health2.jpg') }}" alt="image">
      </div>
    </div>
  </section>
</main>
{% endblock %}